<div class="panel panel-primary" ng-controller="WorksCtrl">
		
	<div class="panel-heading">
			<h3 class="panel-title pull-left">Browse Sarvamula Works</h3>
  		<div class="clearfix"></div>
	</div>

	<div class="panel-body">

		<table class="table table-striped table-hover datatable3" cellspacing="0" width="100%">
			<thead>
				<tr class="bg" style="font-weight: bold">
					<th>Actions</th>
					
					<th>Title</th>
					<th>Commentary on</th>
					<th>Category</th>
					<th>Type</th>
					<th>Short Description</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="work in works">
	        <td>
		        <div class="btn-group" uib-dropdown>
		        	<button id="btn-{{work.uid}}" type="button" class="btn btn-primary btn-xs" uib-dropdown-toggle>
		        		<i class="icon-wrench icon-white"></i>Actions<span class="caret"></span>
		        	</button>
		          <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-{{work.uid}}">
		            	<li role="menuitem"><a ng-click="onClickWork()"><i class="icon-eye"></i>&nbsp;&nbsp;Browse</a></li>
		            	<li class="divider"></li>
		            	<li role="menuitem"><a ng-click="todo()"><i class="icon-eye"></i>&nbsp;&nbsp;View Detail</a></li>
		            	<li role="menuitem"><a ng-click="todo()"><i class="icon-pencil"></i>&nbsp;&nbsp;Edit</a></li>
		          </ul>
		         </div>
	        </td>
				<!--
	        <td>
		        <div class="btn-group" uib-dropdown>
		        	<button id="btn-{{work.uid}}" type="button" class="btn btn-primary btn-xs" uib-dropdown-toggle>
		        		<i class="icon-wrench icon-white"></i>Actions<span class="caret"></span>
		        	</button>
		          <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-{{work.uid}}">
		            	<li role="menuitem"><a href="#!/goto"><i class="icon-eye"></i>&nbsp;&nbsp;Browse</a></li>
		            	<li class="divider"></li>
		            	<li role="menuitem"><a href="#!/view"><i class="icon-eye"></i>&nbsp;&nbsp;View Detail</a></li>
		            	<li role="menuitem"><a href="#!/edit"><i class="icon-pencil"></i>&nbsp;&nbsp;Edit</a></li>
		          </ul>
		         </div>
	        </td>
	        -->
	        <!--
					<td>
						<div class="btn-group text-right">
							<button type="button" class="btn btn-primary br2 btn-xs fs12 dropdown-toggle" 
											data-toggle="dropdown" aria-expanded="false">
								Actions <span class="caret ml5"></span>
							</button>
							<ul class="dropdown-menu" colony="menu">
								<li><a target="_blank" href="http://myaccount.timebroadband.in/invoice/printinvoice?id=12001">Print</a></li>
								<li><a href="http://myaccount.timebroadband.in/invoice/downloadInvoice?id=12001">Download</a></li>
							</ul>
						</div>
					</td>
					-->
					<td><a ng-click="onClickWork()">{{work.title}}</a></td>
					<td>{{work.commentaryOn}}</td>
					<td>{{work.category}}</td>
					<td>{{work.workType}}</td>
					<td>{{work.shortDescription}}</td>
				</tr>
			</tbody>
		</table>

	</div>

</div>
