<!DOCTYPE html>
<html lang="en">
  <head>
	<title>Sarvamula Tagging</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />	  
	<!--  <link rel="stylesheet" href="./bower_components/bootstrap-css-only/css/bootstrap.min.css" /> -->
	<link rel="stylesheet" href="./bootswatch/cerulean-3.3.7.min.css" />

    <script type="text/javascript" src="./bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="./bower_components/angular-resource/angular-resource.min.js"></script>
    <script type="text/javascript" src="./bower_components/lodash/dist/lodash.min.js"></script>

    <script type="text/javascript" src="./bower-components/angular-strap/dist/angular-strap.min.js"></script>
    <script type="text/javascript" src="./bower-components/angular-strap/dist/angular-strap.tpl.min.js"></script>

    <script type="text/javascript" src="./app/app.js"></script>
    <script type="text/javascript" src="./app/controllers.js"></script>
    <script type="text/javascript" src="./app/services.js"></script>

  </head>
  <body ng-app="myApp">
  
  	<div class="rden-nav"></div>
	    <nav id="myNavbar" class="navbar navbar-inverse" role="navigation">
	        <!-- Brand and toggle get grouped for better mobile display -->
	        <div class="container">
	            <div class="navbar-header">
	                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	                    <span class="sr-only">Toggle navigation</span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                </button>
	                <a class="navbar-brand" href="http://capsenta.com" target="_blank">Sarvamula Tagging &nbsp;&nbsp;</a>	                
	            </div>
	            <!-- Collect the nav links, forms, and other content for toggling -->
	            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	                <ul class="nav navbar-nav">
              <li class="@("active".when(nav == ""))"><a href="@routes.PageController.index()">Home</a></li>                
              <li class="@("active".when(nav == "dashboard"))"><a href="@routes.PageController.dashboard()">Dashboard</a></li>
              <li class="@("active".when(nav == "tasks"))"><a href="@routes.PageController.tasks()">Tasks</a></li>
			  <li class="dropdown @("active".when(nav == "config"))">
	               <a href="#" data-toggle="dropdown" class="dropdown-toggle">Configuration<b class="caret"></b></a>
	               <ul class="dropdown-menu">
	                    <li><a href="@routes.PageController.connectionTypes()">Types & Connections</a></li>
	                    <li class="divider"></li>
	                    <li><a href="@routes.PageController.globalDefaults()">Global Defaults</a></li>
	               </ul>
	          </li>
              <li class="@("active".when(nav == "tmd"))"><a href="@routes.PageController.tmds()">Task Metadata</a></li>
			  <!--  <li class=""><a href="#">Signup</a></li> -->
				<!-- 
	                    <li class="dropdown">
	                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">Messages <b class="caret"></b></a>
	                        <ul class="dropdown-menu">
	                            <li><a href="#">Inbox</a></li>
	                            <li><a href="#">Drafts</a></li>
	                            <li><a href="#">Sent Items</a></li>
	                            <li class="divider"></li>
	                            <li><a href="#">Trash</a></li>
	                        </ul>
	                    </li>
	                    -->
	                </ul>
	                <ul class="nav navbar-nav navbar-right">
					  <li class="dropdown @("active".when(nav == "help"))">
			               <a href="#" data-toggle="dropdown" class="dropdown-toggle">Help<b class="caret"></b></a>
			               <ul class="dropdown-menu">
			                    <li><a href="#">User Guide</a></li>
			                    <li class="divider"></li>
			                    <li><a href="@routes.PageController.about()">About</a></li>
			               </ul>
			          </li>
			          <li class=""><a href="#">Logged in as John Smith</a></li>
	                	<a href="#" id="login_button" class="btn btn-primary btn-mini">Logout</a>
	                </ul>
	            </div><!-- /.navbar-collapse -->
	        </div>
	    </nav>
	</div>
  
  
    <div class="container" ng-controller="AppController">
      <div class="page-header">
        <h1>A checklist</h1>
      </div>
      <div class="alert alert-info" role="alert" ng-hide="items &amp;&amp; items.length > 0">
        There are no items yet.
      </div>
      <form class="form-horizontal" role="form" ng-submit="addItem(newItem)">
        <div class="form-group" ng-repeat="item in items">
          <div class="checkbox col-xs-9">
            <label>
              <input type="checkbox" ng-model="item.checked" ng-change="updateItem(item)"/> {{item.description}}
            </label>
          </div>
          <div class="col-xs-3">
            <button class="pull-right btn btn-danger" type="button" title="Delete"
              ng-click="deleteItem(item)">
              <span class="glyphicon glyphicon-trash"></span>
            </button>
          </div>
        </div>
        <hr />
        <div class="input-group">
          <input type="text" class="form-control" ng-model="newItem" placeholder="Enter the description..." />
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit" ng-disabled="!newItem" title="Add">
              <span class="glyphicon glyphicon-plus"></span>
            </button>
          </span>
        </div>
      </form>
    </div>
  </body>
</html>